<app-header></app-header>

<div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <div class="login-form mx-auto">
                  <h2 class="login-header">Đăng nhập</h2>
                  <div class="form-group">
                      <label for="email">Email Phone</label>
                      <input type="text" class="form-control" id="email">
                  </div>
              </div>
          </div>
      </div>
</div>
<app-footer></app-footer>
